.profile_card2{
	padding: 25px;
	justify-content: center;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
	border-radius: 30px;
	margin: 50px 5px ;
	flex-basis: 300px;

}

.profile_card2 h2{
	color: #EEA423;
	font-size: 30px;
}

.profile_card2 h3{
	color: #E45434;
	padding: 15px;
	font-size: 25px;
}